:root {
  --bg-colour: rgb(171, 171, 171);
  --day-colour: rgb(121, 208, 255);
}

body {
  margin: 0;
  background-color: var(--bg-colour);
}

.content {
  display: flex;
  flex-direction: column;
}

/* FORM STYLING */

.form-content {
  display: flex;
  /* flex: 1 0 auto; */
  
  border: 1px solid red;
}

.form-background {
  flex: 1 0 auto;
}

.form-container {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.location-div {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-form-btn {
  font-size: 16px;
  height: fit-content;
  padding: 0.25em 0.75em 0.25em 0.75em;
}

/* WEATHER STYLING */

.weather-content {
  display: flex;
  gap: 50px;

  border: 1px solid green;
}

.day-div:first-child {
  margin-left: auto;
}

.day-div:last-child {
  margin-right: auto;
}

.day-div {
  background-color: var(--day-colour);
  border: 1px solid blue;
}