:root {
  font-family: 'Arial', sans-serif;
  padding: 40px;

  --bg-colour: #f4f7fa;
  --form-colour: #ffffff;
  --btn-colour: #007BFF;
  --day-colour: rgb(121, 208, 255);
}

body {
  margin: 0;
  background-color: var(--bg-colour);
}

.content {
  display: flex;
  flex-direction: column;
}


.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: 1px solid red;
}

.form-container, .switch {
  margin: 1rem 0 1rem 0;
}

/* FORM */

.form-background {
  flex: 1 0 auto;
}

.form-container {
  flex: 1 0 auto;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;

  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  background-color: var(--form-colour);
  max-width: 400px;
}

.location-div {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 10px;
}

.edit-form-btn {
  font-size: 16px;
  height: fit-content;

  width: 100%;
  padding: 12px;
  background-color: var(--btn-colour);
  color: var(--form-colour);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-form-btn:hover {
  background-color: #0056b3;
}

label[for="location-input"] {
  flex: 1;
  font-size: 16px;
  margin-right: 10px;
}

input[type="text"] {
  flex: 2;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #007BFF;
}

/* TOGGLE */

/* The container for temperature elements */
.temp-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* WEATHER */

.weather-content {
  display: flex;
  gap: 50px;

  border: 1px solid green;
}

.day-div:first-child {
  margin-left: auto;
}

.day-div:last-child {
  margin-right: auto;
}

.day-div {
  background-color: var(--day-colour);
  border: 1px solid blue;
}